<div class="panel panel-success">
<h1>EDITAR MECANICO Y SU ESPECIALIDAD</h1>

<%= render 'form' %>

<%= link_to 'MOSTRAR', @mecanico_especialidad %> |
<%= link_to 'ATRAS', mecanico_especialidads_path %>
</div>
